/* .content {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
}

.sliderCustom {
	position: relative;
	width: 100%;
	height: 800px;
	overflow: hidden
}

.headerBox1 {
  align-items: center;
  justify-content: center;
  display: block;
  position: relative;
}

.headerItem {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerText1 {
  color: white;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0; 
}

.headerText2 {
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 0;
  width: 600px;
}

.headerCardBox {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.headerCardItem1 {
  background-color: white;
  height: 200px;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url(../img/wp1.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}

.headerCardItem2 {
  background-color: white;
  height: 200px;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url(../img/wp2.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}

.headerCardItem3 {
  background-color: white;
  height: 200px;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url(../img/wp3.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}

.headerCardText {
  color: white;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 30px;
}

.wp1 {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: rgb(83, 78, 61);
  background-image: url(../img/wp1.jpg)
}

.wp2 {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: rgb(83, 78, 61);
  background-image: url(../img/wp2.jpg)
}

.wp3 {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: rgb(83, 78, 61);
  background-image: url(../img/wp3.jpg)
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentItem1 {
  display: flex;
  align-self: stretch;
  margin: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.contentItem2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.eventBox {
  background-color: rgb(204, 193, 41);
  margin-right: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.eventHeader {
  display: flex;
  align-self: stretch;
  height: 90px;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}

.eventButton {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 160px;
}

.eventNavBtn {
  padding: 5px;
  cursor: pointer;
}

.eventNavBtn:hover {
  color: rgb(252, 252, 252);
}

.eventNavBtn:active {
  color: rgb(252, 252, 252);
  transform: translateY(2px);
}

.eventContent {
  align-self: stretch;
  height: 470px;
  background-color: rgb(80, 80, 80);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-direction: column;
  align-items: center;
}

.eventItems {
  display: flex;
  align-self: stretch;
  margin: 30px;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  border-top: rgb(252, 252, 252) 1px solid;
  cursor: pointer;
}

.eventImg {
  height: 90px !important;
  width: 35% !important;
  transition: all 0.5s;
}

.eventImg:hover {
  transform: translateX(5px);
  transition: all 0.5s;
}

.eventText {
  width: 65%;
  flex-direction: column;
  padding-left: 10px;
}

.eventTitle {
  margin: 10px;
  color: white;
  transition: all 1s;
}

.eventTitle:hover {
  color: yellow;
  transition: all 1s;
}

.eventDate {
  color: white;
  margin: 10px;
}

.activityBox {
  margin-left: 30px;
  width: 700px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.activityItem1 {
  background-image: url(../img/wp3.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.activityEffect {
  background-color: transparent;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: all 0.5s;
}

.activityEffect:hover {
  z-index: 1;
  background-color: rgba(255, 255, 0, 0.5);
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.activityItem2 {
  display: flex;
  width: 100%;
  height: 240px;
  flex-direction: row;
  align-items: center;
}

.activitySubItem1 {
  background-image: url(../img/wp2.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.activitySubItem2 {
  position: relative;
  background-image: url(../img/wp1.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
}

.activityText1 {
  z-index: 99;
  color: white;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
  transition-duration: 1000ms;
}

.activityText1:hover {
  color: yellow;
  transition-duration: 1000ms;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
}

.activityText2 {
  z-index: 99;
  color: white;
  margin: 0;
  margin-bottom: 20px;
  transition-duration: 1000ms;
}

.activityText2:hover {
  color: yellow;
  margin: 0;
  margin-bottom: 20px;
  transition-duration: 1000ms;
}

.activityText3 {
  color: white;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
  transition-duration: 1000ms;
  z-index: 99;
}

.activityText3:hover {
  color: yellow;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
  transition-duration: 1000ms;
  z-index: 99;
}

.activityText4 {
  z-index: 99;
  transition-duration: 1000ms;
  color: white;
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
}

.activityText4:hover {
  z-index: 99;
  transition-duration: 1000ms;
  color: yellow;
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
}

.galleryBox {
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.galleryItem1 {
  background-image: url(../img/wp1.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.galleryItem2 {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
}

.galleryItem3 {
  display: flex;
  background-color: rgb(133, 127, 67);
  width: 100%;
  height: 50%;
  flex-direction: row;
}

.galleryItem4 {
  position: relative;
  background-image: url(../img/wp2.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.galleryItem5 {
  position: relative;
  background-image: url(../img/wp3.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.galleryText1 {
  color: white;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
  z-index: 99;
}

.galleryText2 {
  color: white;
  font-size: 15px;
  margin: 0;
  margin-bottom: 30px;
  z-index: 99;
}

.galleryText3 {
  color: white;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 20px;
  text-align: center;
  z-index: 99;
}

.galleryButton {
  border: 0;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 40px;
  border-radius: 20px;
  z-index: 99;
  transition: all 0.5s;
  cursor: pointer;
}

.galleryButton:hover {
  background-color: rgba(179, 207, 18, 0.925);
  transition: all 0.5s;
  z-index: 99;
}

.galleryButton:active {
  background-color: rgba(204, 204, 204, 0.925);
  transform: translateY(2px);
  z-index: 99;
  transition: all 0.5s;
}

.aboutBox {
  margin: 100px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutItem1 {
  border: yellow solid 0.5px;
  background-color: rgba(80, 80, 80, 0.596);
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.aboutItem2 {
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  border-right: 0.5px solid white;
  background-color: rgb(80, 80, 80);
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.aboutImage {
  width: 250px;
  height: 250px;
}

.aboutText1 {
  margin-top: 40px;
  margin-bottom: 0px;
  color: white;
}

.aboutText2 {
  color: white;
  margin: 30px;
  text-align: center;
}

.aboutButton {
  border: 0;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin: 20px;
}
 */
