html,
body {
  height: 100vh;
  position: relative;
  background-color: #212121;
}

.main-container {
  height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 450px;
}

.navbarBox {
  background-color: transparent;
  z-index: 999;
  width: 100%;
  height: 65px;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  transition: background-color 0.5s ease 0s;
}

.navbarBox.solid {
  background-color: #111;
  transition: background-color 1s ease 0s;
  box-shadow: 0 7px 7px -2px rgba(17, 63, 212, 0.2);
}

.navLogo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  height: 40px;
}

ul {
  list-style-type: none;
}

.navli {
  display: flex;
  float: left;
  cursor: pointer;
}

.navText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 1000ms;
}

.navText:hover {
  color: yellow;
  font-weight: 700;
  transition-duration: 1000ms;
}

.selected .navText {
  color: yellow;
  font-weight: 700;
}

.navText:focus {
  color: yellow;
  font-weight: 500;
  transition-duration: 1000ms;
}

.login {
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
  margin-right: 30px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.5s ease 0s;
  cursor: pointer;
}

.login:hover {
  background-color: rgba(213, 226, 30, 0.925);
  color: #111;
}

.login:active {
  background-color: rgba(72, 77, 13, 0.925);
  transform: translateY(2px);
}

.login.solid {
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
  margin-right: 30px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #111;
  font-size: 15px;
  font-weight: normal;
  border: 0px;
  border-radius: 5px;
  background-color: white;
  transition: background-color 1.5s ease 0s;
}

.login.solid:hover {
  background-color: rgba(213, 226, 30, 0.925);
  color: #111;
  transition: background-color 1s ease 0s;
}

.footerBox {
  background-color: rgb(131, 126, 58);
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 0;
}

.footerItem1 {
  background-color: rgb(16, 16, 16);
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.footerItem2 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footerText {
  color: rgb(167, 167, 167);
}

.footerContent1 {
  padding: 40px;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContent2 {
  padding: 40px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContent3 {
  padding: 40px;
  height: 100%;
  padding-left: 10%;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.footerLogo {
  width: 90px;
  height: 90px;
  margin-top: 50px;
}

.footerText1 {
  color: gray;
  margin: 30px;
  font-size: 15px;
}

.footerText2 {
  color: rgb(175, 175, 175);
  margin-top: 80px;
  margin-bottom: 50px;
}

.footerText3 {
  color: rgb(175, 175, 175);
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

.footerIconBox {
  flex-direction: row;
  display: flex;
}

.footerIcons {
  color: rgb(179, 179, 14);
  margin: 15px;
}

.footerContactBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
}

.sliderCustom {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.headerBox1 {
  align-items: center;
  justify-content: center;
  display: block;
  position: relative;
}

.headerItem {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerText1 {
  color: white;
  margin: 30px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 1;
  background-color: #212121;
}

.headerText2 {
  color: white;
  font-size: 18px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 500px;
}

.headerText3 {
  color: white;
  margin: 30px;
}

.headerCardBox {
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.564);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.wp1 {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: rgb(83, 78, 61);
  background-image: url(../img/wp1.jpg);
}

.wp2 {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: rgb(83, 78, 61);
  background-image: url(../img/wp2.jpg);
}

.wp3 {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: rgb(83, 78, 61);
  background-image: url(../img/wp3.jpg);
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.headerBox {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

.gridLine1 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.529);
  height: 10px;
  position: absolute;
  top: 46px;
}

.contentItemActivity1 {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}

.contentItemActivity2 {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
}

.contentItemActivity3 {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentItem2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.elementNav {
  display: flex;
  position: absolute;
  width: 100%;
  height: 65px;
  top: -65px;
}

.activityBox {
  width: 33%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.activityImg1 {
  width: 100%;
  height: 250px;
  display: flex;
  position: relative;
  border-radius: 5px;
}

.textContent1 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
}

.visionBox1 {
  width: 50%;
  height: 300px;
  background-color: rgba(89, 89, 59, 0.392);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.visionBox2 {
  width: 50%;
  height: 300px;
  background-color: rgba(47, 64, 74, 0.399);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.visionList {
  width: 100%;
}

.visionText1 {
  color: white;
  font-size: 18px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10;
}

.galleryBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.galleryContentBox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.galleryBoxItems2 {
  display: flex;
  position: relative;
  width: 100%;
}

.aboutBox1 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.aboutBox2 {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.aboutBox3 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.aboutBox4 {
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutTextBox1 {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aboutIcon1 {
  width: 25px;
  height: 25px;
  color: white;
  margin-right: 20px;
}

.aboutTextHeader1 {
  color: white;
  font-size: 25px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutText1 {
  color: white;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutText2 {
  color: white;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 140px;
}

.aboutText3 {
  color: white;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 30px;
}

.aboutText4 {
  color: white;
  font-size: 17px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.qrCodeImg {
  width: 70px;
  height: 70px;
}
